<div class="py-5 text-center">
  <div class="container">
    <h1>Urmareste-ne!</h1>
    <p><span class="fa fa-facebook"></span> <a href="https://facebook.com/cnva.hub/"
        style="color: white; text-decoration: none;" target="_blank"> CNVA HUB</a></p>
    <p><span class="fa fa-instagram"></span> <a href="https://instagram.com/cnva.hub/"
        style="color: white; text-decoration: none;" target="_blank"> @cnva.hub</a></p>
    <p><span class="fa fa-envelope"></span> cnva.hub@gmail.com</p>
    <p>
      &copy; {{currentYear}} - CNVA HUB | Toate drepturile rezervate
    </p>
  </div>
</div>