<div class="py-5 text-center">
  <div class="container">
    <p><i class="fab fa-facebook"></i> <a href="https://facebook.com/cnva.hub/" style="color: white; text-decoration: none;" target="_blank"> CNVA HUB</a></p>
    <p><i class="fab fa-instagram"></i> <a href="https://instagram.com/cnva.hub/" style="color: white; text-decoration: none;" target="_blank"> @cnva.hub</a></p>
    <p><i class="fas fa-envelope"></i> cnva.hub@gmail.com</p>
    <p>
      &copy; 2021 - CNVA HUB | Toate drepturile rezervate
    </p>
  </div>
</div>
