.white-bg {
    background-image: url("../../assets/img/swirl-bg.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
  
    .handwritten {
      font-size: 5.5em;
    }
  
    .handwritten-text {
      font-family: "Pacifico", sans-serif;
      color: #0042c6;
    }
  
    .description {
      font-size: 1.2em;
    }
  }
  