<div class="white-bg text-center py-5">
  <h1 class="handwritten py-5">Cursuri!</h1>
  <!-- Courses cards section -->
  <div class="container pt-5">
    <section class="wrapper">
      <div class="container">
        <div class="row">
          <!-- Card. no 1 -->
          <div class="col-md-4 py-4">
            <div
              class="card text-white card-has-bg click-col"
              style="
                background-image: url('../../assets/img/cursuri/programare.jpg');
              "
            >
              <img
                class="card-img d-none"
                src="../../assets/img/cursuri/programare.jpg"
                alt="programare"
              />
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <small class="card-meta mb-2">Curs #1</small>
                  <h4 class="card-title mt-0">
                    <a class="text-white" routerLink="/cursuri/web"
                      >WEB DEV HUB!</a
                    >
                  </h4>
                  <small>PROGRAMARE</small>
                </div>
                <div class="card-footer">
                  <div class="media">
                    <img
                      class="mr-3 rounded-circle"
                      src="../../assets/img/cursuri/sorin-web.png"
                      alt="sorin-web"
                      style="max-width: 50px"
                    />
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">Sorin Greu</h6>
                      <small>Co-Founder/CTO</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Card no. 2 -->
          <div class="col-md-4 py-4">
            <div
              class="card text-white card-has-bg click-col"
              style="
                background-image: url('../../assets/img/cursuri/personal-dev.jpg');
              "
            >
              <img
                class="card-img d-none"
                src="../../assets/img/cursuri/personal-dev.jpg"
                alt="dezvoltare-personala"
              />
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <small class="card-meta mb-2">Curs #2</small>
                  <h4 class="card-title mt-0">
                    <a class="text-white" routerLink="/cursuri/social">SOCIAL HUB!</a>
                  </h4>
                  <small>DEZVOLTARE PERSONALA</small>
                </div>
                <div class="card-footer">
                  <div class="media">
                    <img
                      class="mr-3 rounded-circle"
                      src="../../assets/img/cursuri/miruna-social.png"
                      alt="Generic placeholder image"
                      style="max-width: 50px"
                    />
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">Miruna Bejnariu</h6>
                      <small>Co-Founder/CMO</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Card no. 3 -->
          <div class="col-md-4 pt-4">
            <div
              class="card text-white card-has-bg click-col"
              style="background-image: url('../../assets/img/cursuri/foto.jpg')"
            >
              <img
                class="card-img d-none"
                src="../../assets/img/cursuri/foto.jpg"
                alt="foto"
              />
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <small class="card-meta mb-2">Curs #3</small>
                  <h4 class="card-title mt-0">
                    <a class="text-white" routerLink="/cursuri/photo">PHOTO HUB!</a>
                  </h4>
                  <small>FOTOGRAFIE</small>
                </div>
                <div class="card-footer">
                  <div class="media">
                    <img
                      class="mr-3 rounded-circle"
                      src="../../assets/img/cursuri/flo-foto.png"
                      alt="flo-foto"
                      style="max-width: 50px"
                    />
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">Eduard Florentin</h6>
                      <small>Instructor</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
