<div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
  <strong>Nu ezita să ni te alături! Înscrierile se vor termina curând!</strong><br>
  <strong
    >TIMP RĂMAS: {{ daysToDday }} Zile, {{ hoursToDday }} Ore,
    {{ minutesToDday }} minute, {{ secondsToDday }}  secunde</strong
  >
  <br>
  <a class="btn btn-primary text-uppercase btn-sm my-2" style="width: 100px;" href="https://forms.gle/EjjmW4ceH65CpcYNA" >Inscrie-te!</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>