<div class="white-bg">
  <div class="intro-text pt-5">
    <div class="pt-5">
      <h1>
        Facem învățarea în mediul <br />
        digital mai <span class="handwritten">Distractivă!</span>
      </h1>
      <p>
        Un hub digital ca să înveți de toate, creat cu pasiune în Colegiul
        Național "Vasile Alecsandri" Iași
      </p>
    </div>
  </div>
  <div class="container pt-5">
    <div class="row d-flex-justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h1><span class="handwritten">"</span></h1>
            <h2><strong>
                Cea mai <br>
                distractiva <br>
                EXPERIENTA
              </strong></h2>
            <p>Fost cursant</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <img src="../../assets/img/vr-guy.png" alt="happy-vr-guy" class="img-fluid vr-guy" />
      </div>
    </div>
  </div>
</div>
<div class="courses-area py-5 text-center">
  <h1>Cursuri</h1>
  <p>Alege ceea ce ti se potriveste!</p>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center mt-5">
      <div class="col-md-4 mb-3">
        <div class="card bg-dark text-white">
          <img src="../../assets/img/Rectangle 8.png" class="card-img" alt="programare-img" />
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <h3>Programare</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card bg-dark text-white shadow">
          <img src="../../assets/img/Rectangle 16.png" class="card-img" alt="foto-img" />
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <h3>Fotografie</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card bg-dark text-white">
          <img src="../../assets/img/Rectangle 20.png" class="card-img" alt="programare-img" />
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <h3>Dezvoltare personala</h3>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-5">
      <button routerLink="/cursuri" class="btn btn-sm btn-light btn-round">Alege acum!</button>
    </h3>
  </div>
</div>
<div class="white-bg pt-5">
  <div class="py-5 text-uppercase text-center">
    <h1>Sunt alături de noi!</h1>
    <p>Sponsori & Parteneri</p>
  </div>
  <div class="container">
    <div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
          <img src="../../assets/img/sponsors/centric.png" class="d-block w-50 mx-auto" alt="..." />
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="../../assets/img/sponsors/FCI-logo.png" class="d-block w-25 mx-auto" alt="..." />
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="../../assets/img/sponsors/soft-education.png" class="d-block w-50 mx-auto" alt="..." />
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center py-5 promo-area">
    <h1>Ce mai aștepți?</h1>
    <button routerLink="/cursuri" class="btn btn-primary btn-round" style="margin-top: -50px;">
      Vezi mai multe
    </button>
  </div>
</div>