.intro-text {
  text-align: center;

  h1 {
    font-size: 2.5em;
  }

  span {
    font-weight: 400;
  }
}

.courses-area {
  color: white;
  background-color: #0042c6;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    font-size: 5.5em;
  }

  p {
    font-size: 1.5em;
  }
}

.card {
  img {
    object-fit: cover;
  }
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
}

.white-bg {
  background-image: url("../../assets/img/swirl-bg.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.promo-area {
  h1 {
    font-family: "Pacifico", sans-serif;
    font-size: 4em;
    padding-bottom: 75px;
  }
}

.btn {
  font-size: 1em;
  width: 250px;
}

.btn.btn-round {
  border-radius: 40px;
}

.btn.btn-primary {
  background: #3e64ff;
  border-color: #3e64ff;
  color: #fff;
}

.card {
  border-radius: 15%;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.vr-guy {
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}