<div class="white-bg">
  <app-countdown></app-countdown>
  <div class="intro-text pt-5">
    <div class="pt-5">
      <h1>
        Facem învățarea în mediul <br />
        digital mai <span class="handwritten">Distractivă!</span>
      </h1>
      <p>
        Un hub digital ca să înveți de toate, creat cu pasiune în Colegiul
        Național "Vasile Alecsandri" Iași
      </p>
    </div>
  </div>
  <div class="container pt-5">
    <div class="row d-flex-justify-content-center align-items-center">
      <div class="col-md-4">
        <span class="handwritten">„</span>
        <h3>
          Cea mai <br />
          distractiva <br />
          EXPERIENTA
        </h3>
        <p>Fost cursant</p>
      </div>
      <div class="col-md-8">
        <img
          src="../../assets/img/vr-guy.png"
          alt="happy-vr-guy"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
<div class="courses-area py-5 text-center">
  <h1>Cursuri</h1>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center mt-5">
      <div class="col-md-4 mb-3">
        <div class="card bg-dark text-white">
          <img
            src="../../assets/img/Rectangle 8.png"
            class="card-img"
            alt="programare-img"
          />
          <div
            class="card-img-overlay d-flex justify-content-center align-items-center"
          >
            <h5>Programare</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card bg-dark text-white shadow">
          <img
            src="../../assets/img/Rectangle 16.png"
            class="card-img"
            alt="foto-img"
          />
          <div
            class="card-img-overlay d-flex justify-content-center align-items-center"
          >
            <h5>Fotografie</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card bg-dark text-white">
          <img
            src="../../assets/img/Rectangle 20.png"
            class="card-img"
            alt="programare-img"
          />
          <div
            class="card-img-overlay d-flex justify-content-center align-items-center"
          >
            <h5>Dezvoltare personala</h5>
          </div>
        </div>
      </div>
    </div>
    <h5 class="mt-5">
      <a routerLink="/cursuri" style="color: white">Vezi mai multe →</a>
    </h5>
  </div>
</div>
<div class="white-bg">
  <div class="container text-center">
    <h1 class="pt-5">Întrebări frecvente</h1>
    <p class="pb-5">You have questions, we have answers!</p>

    <div class="pb-5">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">
        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
                class="d-block position-relative text-dark text-uppercase collapsible-link py-2"
                >Dacă nu învăț la Colegiul Național ”Vasile Alecsandri” Iași,
                pot participa?</a
              >
            </h6>
          </div>
        </div>
        <div
          id="collapseOne"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
          class="collapse"
        >
          <div class="card-body p-5">
            <p class="font-weight-light m-0">
              Deși a fost o dorință exprimată de o mulțime de elevi iar
              entuziasmul nostru a fost peste măsură auzind asta, contextul
              pandemic și câteva aspecte legale ne-au împiedicat în a duce acest
              aspect la bun sfârșit. Din aceste motive, am decis ca în această
              ediție să includem doar elevii din Colegiul Național ”Vasile
              Alecsandri” Iași. Vă mulțumim pentru înțelegere!
            </p>
          </div>
        </div>
      </div>

      <!-- Accordion item 2 -->
      <div class="card">
        <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
          <h6 class="mb-0 font-weight-bold">
            <a
              href="#"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
              class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"
              >Unde se vor ține cursurile?</a
            >
          </h6>
        </div>
        <div
          id="collapseTwo"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
          class="collapse"
        >
          <div class="card-body p-5">
            <p class="font-weight-light m-0">
              Cursurile din cadrul celei de-a doua ediții a CNVA HUB vor avea
              loc pe serverul nostru oficial de Discord. Participantii vor primi
              un link de invite cu cateva zile inainte de evenimentul de
              deschidere.
            </p>
            <img
              src="../../assets/img/Discord-LogoWordmark-Color.png"
              alt="Discord-Logo"
              class="img-fluid w-25 mt-2"
            />
          </div>
        </div>
      </div>

      <!-- Accordion item 3 -->
      <div class="card">
        <div id="headingThree" class="card-header bg-white shadow-sm border-0">
          <h6 class="mb-0 font-weight-bold">
            <a
              href="#"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
              class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"
              >Ce alte lucruri sunt necesare pentru a putea participa?</a
            >
          </h6>
        </div>
        <div
          id="collapseFour"
          aria-labelledby="headingFour"
          data-parent="#accordionExample"
          class="collapse"
        >
          <div class="card-body p-5">
            <p class="font-weight-light m-0">
              Pentru a fi la curent cu cerintele fiecarui curs din cadrul CNVA
              HUB, te invitam sa accesezi sectiunea
              <a routerLink="/cursuri">Cursurile noastre</a>!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center py-5 promo-area">
    <h1>Ce mai aștepți?</h1>
    <form action="https://forms.gle/EjjmW4ceH65CpcYNA">
      <button type="submit" class="btn btn-primary btn-round mb-2">
        Înscrie-te
      </button>
    </form>
  </div>
</div>
